
# cloud user id / Update with your IBMID, usually your email  
CLOUD_USER_ID = "EMAIL@EMAIL.com"


# watsonx data catalog name
ICEBERG_CATALOG="iceberg_data"


# watsonx.data schema name
SCHEMA_DATA_I = "iceberg_schema"

# From watsonx.ai studio
WATSONX_URL = ""
WATSONX_PROJECT_ID = ""
WATSONX_DEPLOYMENT_SPACE_ID = ""
